/* @group Core Elements */

html {height: 100%;margin-bottom: 1px;}
body {margin: 0;font-family: Arial;font-size: 80%;line-height: 135%;color: #333;background: #E6E6E6;}

/* Font family information */

body#ff-default, body#ff-default td {font-family: Helvetica, Arial, FreeSans, sans-serif;}
body#ff-optima, #ff-optima td {font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;}
body#ff-geneva, #ff-geneva td {font-family:  Geneva, Tahoma, "Nimbus Sans L", sans-serif;}
body#ff-helvetica, #ff-helvetica td {font-family: Helvetica, Arial, FreeSans, sans-serif;}
body#ff-lucida, #ff-lucida td {font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans-serif;}
body#ff-georgia, #ff-georgia td {font-family: Georgia, sans-serif;}
body#ff-trebuchet, #ff-trebuchet td {font-family: "Trebuchet MS", sans-serif;}
body#ff-palatino, #ff-palatino td {font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;}

/* Core Styles */

form {margin: 0;padding: 0;}
body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {font-size: 11px;}
body, body.f-default {font-size: 12px;}
body.f-default #horiz-menu {font-size: 90%;}
body#ff-optima, body#ff-optima.f-default {font-size: 13px;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 13px;}
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {font-size: 14px;}
p {margin-top: 10px;margin-bottom: 15px;}
h1, h2, h3, h4, h5 {padding-bottom: 5px;margin: 25px 0 10px 0;font-weight: normal;line-height: 120%;}
h1 {font-size: 200%;line-height: 100%;}
h2 {font-size: 175%;line-height: 100%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}
h5 {font-size: 120%;text-transform: uppercase;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* @end */

/* @group Joomla Elements */

div.mosimage_caption {font-size: 95%;}
.componentheading {font-size: 180%;line-height: 120%;font-weight: bold;padding: 0 0 0 5px;margin: 0 0 20px 0;}
.contentheading {font-size: 140%;font-weight: bold;border: 0;text-transform: uppercase;padding: 0 0 25px 26px;line-height: 16px;}
span.small, td.createdate, td.modifydate {color: #666;font-size: 90%;}
table.blog td.createdate {padding-bottom: 5px;}
table.blog td.modifydate {padding-top: 10px;}
td.buttonheading, .contentpaneopen td.buttonheading {padding: 0 1px;border: 0;}
td.column_separator {padding-left: 15px;}
td.componentheading {padding-bottom: 15px;}
.sectiontableheader {font-weight: bold;padding: 4px;line-height: 20px;}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 2px 0 0px 5px;border-bottom: 1px solid #f1f1f1;}
tr.sectiontableentry2 td, td.sectiontableentry2 {height: 27px;}
tr.sectiontableentry1 td, td.sectiontableentry1 {height: 27px;background: #f7f7f7;}
.contentpane, .contentpaneopen {width: 100%;}
.main-column-right tr.sectiontableentry1 td, .main-column-right tr.sectiontableentry2 td, .main-column-right td.sectiontableentry1, .main-column-right td.sectiontableentry2, .main-column-left tr.sectiontableentry1 td, .main-column-left tr.sectiontableentry2 td, .main-column-left td.sectiontableentry1, .main-column-left td.sectiontableentry2 {border-bottom: none;}

/* @end */

/* @group Structure */

#header {background: url(../images/header-m.png) 0 0 repeat-x;margin-right: 130px;margin-left: 130px;}
#header2 {background: url(../images/header-l.png) 0 0 no-repeat;margin-left: -130px;}
#header3 {background: url(../images/header-r.png) 100% 0 no-repeat;margin-right: -130px;height: 172px;}
#header-top {height: 90px;padding-top: 15px;display: block;}

img#logo {height: 63px;width: 340px;margin-left: 34px;float: left;}

.top-module {float: right;width: 360px;margin-right: 10px;overflow: hidden;height: 65px;padding: 0 20px 10px 0;}
.top-module .moduletable h3 {display: none;}

#horiz-menu-bar {margin-right: 130px;margin-left: 130px;}
#horiz-menu-bar2 {margin-left: -130px;}
#horiz-menu-bar3 {height: 67px;margin-right: -130px;}
#horiz-menu2-bar {margin-right: 130px;margin-left: 130px;}
#horiz-menu2-bar2 {margin-left: -130px;}
#horiz-menu2-bar3 {height: 67px;margin-right: -130px;}

#mid-panel-bg {background: url(../images/mid-panel-bg.png) 0 0 repeat-x;height: 5px;margin-top: -57px;margin-bottom: 52px;position: relative;z-index: 1;}
#mid-panel-bg-alt {background: url(../images/mid-panel-bg.png) 0 0 repeat-x;height: 5px;margin-top: -37px;margin-bottom: 32px;position: relative;z-index: 1;}
#mid-panel-bg2 {background: url(../images/mid-panel-bg.png) 0 0 repeat-x;height: 5px;margin-top: -41px;margin-bottom: 36px;position: relative;z-index: 1;}
#mid-panel-bg3 {background: url(../images/mid-panel-bg.png) 0 0 repeat-x;height: 5px;margin-top: -67px;margin-bottom: 62px;position: relative;z-index: 1;}

#showcase-main {margin-left: 20px;margin-right: 20px;}
#showcase-main2 {margin-left: -20px;}
#showcase-main3 {margin-right: -20px;}
#showcase-bottom {position: relative;z-index: 2;}
#showcase-bottom.alt {margin-top: -55px;}
#showcase-bottom2 {position: relative;}
#showcase-bottom3 {height: 136px;position: relative;}

#menu2-bottom {position: relative;margin-left: 390px;margin-right: 390px;z-index: 2;}
#menu2-bottom2 {position: relative;margin-left: -390px;}
#menu2-bottom3 {height: 70px;position: relative;margin-right: -390px;}

#showcase-main .padding {padding: 15px 20px 0 20px;}

#main-body {background: #fff;margin-left: 10px;margin-right: 10px;margin-top: 0;border-left: 2px solid #D0D0D0;border-right: 2px solid #D0D0D0;}

#leftcol2 {float: left;position: relative;z-index: 10;}
#leftcol {float: left;position: relative;z-index: 10;}
#rightcol {float: right;position: relative;z-index: 10;}
#rightcol2 {float: right;position: relative;z-index: 10;}

#rightcol .inner {padding: 20px 18px 10px 18px;}
#rightcol2 .inner {padding: 0 20px 10px 20px;}
#leftcol .inner {padding: 20px 18px 10px 18px;}
#leftcol2 .inner {padding: 0 20px 10px 20px;}

#maincol {margin-top: -18px;position: relative;z-index: 5;}
#maincol-alt {margin-top: -14px;position: relative;z-index: 5;}

#maincol-border-left {background: url(../images/maincol-shadow-l.png) 0 0 repeat-y;}
#maincol-border-left2 {background: url(../images/maincol-top-l.png) 0 0 no-repeat;}
#maincol-border-right {background: url(../images/maincol-shadow-r.png) 100% 0 repeat-y;}
#maincol-border-right2 {background: url(../images/maincol-top-r.png) 100% 0 no-repeat;}

#maincol1 {background: url(../images/maincol-shadow-l.png) 0 0 repeat-y;}
#maincol2 {background: url(../images/maincol-shadow-r.png) 100% 0 repeat-y;}
#maincol3 {background: url(../images/maincol-bg-top.png) 0 0 repeat-x;}
#maincol4 {background: url(../images/maincol-top-l.png) 0 0 no-repeat;}
#maincol5 {background: url(../images/maincol-top-r.png) 100% 0 no-repeat;}
#maincol .padding, #maincol-alt .padding {padding: 10px 7px 20px 7px;}

#bottom-section {margin-left: 10px;margin-right: 10px;}
#bottom-section .padding {padding: 5px 6px 0px 6px;}

#footer {position: relative;z-index: 2;}
#footer3 {height: 125px;}
#footer .padding {padding: 60px 0 0 0;}
.footer-mod {padding: 0 34px 15px 34px;}
.footer-mod .moduletable {margin-bottom: 0;}

#bottom-logo {width: 175px;height: 34px;margin: 0 auto;}

#copyright {text-align: center;text-transform: uppercase;margin-bottom: 10px;font-size: 90%;}
.copyright {display: block;height: 30px;margin-left: 12px;margin-top: 20px;padding-bottom: 20px;}

img#rocket {width: 166px;height: 22px;}
#rocket-block {width: 166px;height: 22px;margin: 0 auto;padding-bottom: 20px;}

#top-banner .moduletable {padding: 15px 0 15px 0;margin: 0;}
#top-banner .moduletable h3, #advert .moduletable h3 {display: none;}

.logo-module {height: 65px;padding: 0 20px 16px 40px;width: 500px;float: left;overflow: hidden;}
.logo-module .moduletable {margin: 0;}
.logo-module .moduletable h3 {display: none;}

.padding {padding: 5px;}

#bottom-menu {position: relative;z-index: 2;}
#bottom-menu2 {position: relative;}
#bottom-menu3 {height: 68px;position: relative;z-index: 2;padding: 0 0 0 130px;}
#bottom-menu .moduletable {margin: 0;padding: 0;}

.debug {margin-top: 20px;}

#date-block {width: 230px;height: 31px;position: absolute;top: 42px;left: 20px;text-align: center;padding-top: 10px;}
#date-block2 {width: 230px;height: 31px;position: absolute;margin-top: -5px;left: 20px;text-align: center;padding-top: 10px;}
span.date {text-transform: uppercase;font-size: 90%;font-weight: bold;}

#controls-block {width: 230px;height: 31px;position: absolute;top: 41px;right: 20px;}
#controls-block2 {width: 230px;height: 31px;position: absolute;margin-top: -5px;right: 20px;}

#searchmod {overflow: hidden;padding: 80px 0 0 0;width: 356px;margin: 0 auto;}
#searchmod2 {overflow: hidden;padding: 5px 0 0 0;width: 356px;margin: 0 auto;}
#searchmod .inputbox, #searchmod2 .inputbox {width: 290px;height: 24px;padding: 4px 10px 4px 10px;font-size: 110%;margin-right: 10px;float: left;border: 0;}
#searchmod input.button, #searchmod2 input.button {width: 36px;height: 30px;line-height: 29px;border: 0;padding: 0;text-align: center;cursor: pointer;font-size: 0;}
#searchmod .moduletable h3 {display: none;}

table.mainbody, table.blog {width: 100%;}
.spacer .block {float: left;}
.spacer.w99 .block {width: 99.8%;}
.spacer.w49 .block {width: 49.8%;}
.spacer.w33 .block {width: 33.3%;}
#bottommodules2.spacer.w33 .block {width: 33.1%;}
.spacer.w24 .block {width: 24.8%;}

/* @end */

/* @group Modules */

#showcase-main .module h3 {margin-top: 0;}
#showcase-main #showcasemodules .module div div div {padding: 0 20px;margin-bottom: 15px;}
#showcase-main .module div div div div {padding: 0;margin: 0;}

#leftcol .module h3, #leftcol2 .module h3 {padding: 0 0 18px 26px;line-height: 16px;text-transform: uppercase;font-size: 120%;letter-spacing: -0.06em;font-weight: bold;margin-top: 0;}

.moduletable, .moduletable-hilite1, .moduletable-hilite2, .moduletable-hilite3 {margin-bottom: 35px;}
.module, .module-hilite1, .module-hilite2, .module-hilite3 {margin-bottom: 35px;}

#maincol .module h3, #maincol-alt .module h3, #leftcol .module-hilite1 h3, #leftcol2 .module-hilite1 h3, #rightcol .module-hilite1 h3, #rightcol2 .module-hilite1 h3 {padding: 0 0 25px 0;text-align: center;text-transform: uppercase;font-size: 120%;letter-spacing: -0.06em;margin: 0 0 20px 0;font-weight: bold;}

#rightcol .module h3, #rightcol2 .module h3 {padding: 0 26px 18px 0;line-height: 16px;text-transform: uppercase;font-size: 120%;letter-spacing: -0.06em;text-align: right;font-weight: bold;margin-top: 0;}

#leftcol .module-hilite2 h3, #leftcol2 .module-hilite2 h3, #rightcol .module-hilite2 h3, #rightcol2 .module-hilite2 h3 {font-weight: bold;font-size: 140%;}
#leftcol .module-hilite3 h3, #leftcol2 .module-hilite3 h3, #rightcol .module-hilite3 h3, #rightcol2 .module-hilite3 h3 {font-weight: bold;font-size: 140%;}

#mainmodules.alt {background: none;}
#mainmodules2.alt {margin-left: -25px;padding-left: 7px;}

#main-container .padding {padding: 20px;}
#main-container2 .padding {padding: 20px;}

#mainmodules2 .module h3, #mainmodules2 .module-hilite1 h3, #mainmodules2 .module-hilite2 h3, #mainmodules2 .module-hilite3 h3, #mainmodules .module h3, #mainmodules .module-hilite1 h3, #mainmodules .module-hilite2 h3, #mainmodules .module-hilite3 h3 {margin-top: 20px;}

#mainmodules .module, #mainmodules .module-hilite1, #mainmodules .module-hilite2, #mainmodules .module-hilite3, #mainmodules2 .module, #mainmodules .module-hilite1, #mainmodules .module-hilite2, #mainmodules2 .module-hilite3 {overflow: hidden;margin-bottom: 35px;}

#mainmodules .module div div div, #mainmodules2 .module div div div {padding: 0 20px 12px 20px;}

#bottom-section .module h3 {margin-top: 0;text-transform: uppercase;font-size: 120%;letter-spacing: -0.06em;padding: 10px 0 5px 0;font-weight: bold;text-align: center;}

#bottom-section .module div div div {padding: 0 15px;}
#bottom-section .module div div div div {padding: 0;margin: 0;}

.moduletable-flush {margin: 0;padding: 0;}
.module-ad h3 {margin: 0 0 4px 0;padding: 0 0 0 2px;text-transform: uppercase;font-size: 80%;letter-spacing: 1px;}
.module-ad {padding: 0;margin: 0 0 35px 0;}

#showcasemodules, #mainmodules, #mainmodules2, #bottommodules, .rotator-module {overflow: hidden;}

/* @end */

/* @group Menus */

#horiz-menu {display: block;text-transform: uppercase;z-index: 100;height: 54px;line-height: 54px;position: relative;padding: 0 0 0 130px;}
ul#horiznav.menutop, #horiz-menu ul.menutop {padding: 0;margin: 0;position: relative;}
#horiz-menu ul {list-style: none;padding: 0;margin: 0;}
#horiz-menu li {display: block;float: left;margin: 0;padding: 0;text-transform: uppercase;color: #fff;font-weight: bold;}
#horiz-menu a, #horiz-menu .separator {white-space: nowrap;display: block;float: left;height: 54px;line-height: 50px;font-weight: normal;font-size: 120%;overflow: hidden;text-decoration: none;text-transform: uppercase;z-index: 100;color: #fff;cursor: pointer;}
#horiz-menu li a span, #horiz-menu li .separator span {display: block;padding: 0 16px;}
#horiz-menu li.active a, #horiz-menu li.active .separator {z-index: 100;cursor: pointer;}
#horiz-menu li.active li a, #horiz-menu li.active.parent li a, #horiz-menu li.active li .separator, #horiz-menu li.active.parent li .separator {font-weight: normal;font-size: 100%;}
#horiz-menu ul ul {margin: 0;padding: 0;}
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul li.active.parent ul a span, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator, #horiz-menu ul li.active.parent ul .separator span {text-transform: none;background: none;}
#horiz-menu2-bar #horiz-menu ul ul {margin-top: -2px;}
#horiz-menu2-bar #horiz-menu ul ul ul {margin-top: 0;}

/* Menu Dropdowns */

#horiz-menu li li.active, #horiz-menu li.active li a, #horiz-menu li.active li a:hover, #horiz-menu li li a:hover, #horiz-menu ul li.active.parent ul a, #horiz-menu li.active li .separator, #horiz-menu li.active li .separator:hover, #horiz-menu li li .separator:hover, #horiz-menu ul li.active.parent ul .separator {background: none;}
#horiz-menu li li a, #horiz-menu li li .separator {font-size: 100%;font-weight: normal;background: none;}
#horiz-menu li li, #horiz-menu li li a span, #horiz-menu li li .separator span {background: none;}
#horiz-menu li li a span, #horiz-menu li li .separator span {padding: 0;}
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator {color: #bbb;}
#horiz-menu li.sfHover li a, #horiz-menu li:hover li a, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active.parent ul li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li .separator, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu ul li.active.parent ul li .seperator {color: #fff;text-indent: 25px;}

/* Bottom Menu */

#bottom-menu ul#mainlevel-bottom {padding: 0;margin: 0 auto;height: 52px;}
#bottom-menu #mainlevel-bottom ul {list-style: none;margin: 0;padding: 0;}
#bottom-menu #mainlevel-bottom li {display: block;float: left;margin: 0;padding: 0;}
#bottom-menu #mainlevel-bottom a, #bottom-menu #mainlevel-bottom a#active_menu.mainlevel {white-space: nowrap;display: block;float: left;font-weight: normal;overflow: hidden;height: 54px;line-height: 50px;font-size: 110%;text-decoration: none;text-transform: uppercase;color: #fff;padding: 0 16px;margin: 0;}

/* Sub and Side Menus */

.submenu-top {margin-top: 24px;}
.submenu-top3 {height: 40px;}
.submenu-bottom3 {height: 60px;margin-bottom: 35px;}
a.mainlevel:hover, a.sublevel:hover {text-decoration: none;}
a.mainlevel {line-height: 34px;height: 34px;font-size: 120%;padding: 2px 0 2px 14px;}
a.sublevel {height: 26px;line-height: 26px;margin: 0;padding: 0 0 0 15px;}
ul.menu {margin:0;padding: 0;}
ul.menu li {list-style: none;margin: 0;padding: 0;float: none;}
ul.menu span {display: block; height: 34px;line-height: 34px;}
ul.menu ul span {height: 26px;line-height: 26px;}
.moduletable-sidemenu a.mainlevel {margin: 0 0 1px 0;}
ul.menu a {display: block;line-height: 34px;text-indent: 38px;height: 34px;overflow: hidden;font-size: 120%;float: none;}
ul.menu li.active a, ul.menu li.active li.active a, a#active_menu.mainlevel, a#active_menu.sublevel {font-weight: bold;}
ul.menu li.active li a, ul.menu li.active li.active li a {font-weight: normal;}
ul.menu ul a {background: none; text-indent: 0;}
ul.menu ul ul {padding-left: 18px; margin:0; background: none;}
ul.menu li li {padding: 0;margin: 0;}
ul.menu ul a {text-indent: 0;}
ul.menu li.active a, ul.menu li.active a:hover {text-decoration: none; line-height: 26px;}
ul.menu li a:hover {text-decoration: none;}
ul.menu li.active ul {margin-top: 0;margin-bottom: 0;padding-top: 5px;padding-bottom: 5px;}
ul.menu ul {padding: 0 0 0 20px;margin: 0 12px;}
ul.menu ul ul {border: 0;}
ul.menu ul a {text-indent: 16px;font-size: 110%;height: 26px;line-height: 26px;padding: 0;margin: 0;}
.submenu-main h3 {margin: 0;padding: 0;position: absolute;top: 0;left: 0;text-align: center;padding: 0 0 25px 0;text-transform: uppercase;font-size: 120%;letter-spacing: -0.06em;font-weight: bold;}
#main-body ul.menu a:hover {color: #333;}

/* @end */

/* Extra Content Styles */

a.readon {margin-top: 16px;padding: 0;display: block;line-height: 12px;font-size: 120%;text-indent: 12px;}
#pathway {width: 100%;display: block;}
span.pathway {display: block;font-weight: normal;line-height: 140%;overflow: hidden;margin-bottom: 15px;padding-left: 15px;padding-top: 15px;}
span.pathway img {padding-right: 5px;width: 5px;background: url(../images/typo/bullet-1.png) 0 50% no-repeat;}
span.pathway a {float: none;padding: 0 6px 0 0;}
#accessibility {width: 55px;height: 16px;margin-top: 10px;float: right;margin-right: 18px;}
#accessibility span {background-repeat: no-repeat;}
#accessibility a {text-decoration: none; cursor: pointer;}
#accessibility #buttons {float: right;padding-right: 8px;}
#accessibility .button {display: block;float: right;width: 16px;height: 16px;margin-right: 4px;}
a.large .button {background: url(../images/font-lg.png) 0 0 no-repeat;}
a.small .button {background: url(../images/font-sm.png) 0 0 no-repeat;}
.fontbutton-text {color: #666;position: absolute;right: 75px;top: 12px;text-transform: uppercase;font-size: 90%;font-weight: bold;}
a.nounder {text-decoration: none;border: 0;cursor: pointer;}
a.nounder:hover {text-decoration: none;}
.clr {clear:both;}
fieldset {border-left: 0;border-right: 0;border-top: 0;border-bottom: 1px solid #ddd;}
fieldset.input, a img, body .pollstableborder {border: 0;}
img.content-left {float: left;margin-right: 10px;padding: 5px;}
img.content-right {float: right;margin-left: 10px;padding: 5px;}
#referencewidth {width: 100%;overflow:hidden;}
.back_button {margin-top: 20px;margin-bottom: 10px;}
.tool-tip {background: #f6f6f6;border: 1px solid #e6e6e6;padding: 4px;}

/* Signal Login */

#sl_horiz {margin: 0;position: absolute;width: 360px;padding-top: 8px;}
#sl_horiz.logout {width: 360px;text-align: right;}
#sl_horiz.login {width: 360px;}
#sl_horiz #greeting {float: left;height: 22px;margin-right: 10px;}
#sl_horiz.logout #greeting {height: 22px;float: right;}
#sl_horiz.login .button {border: 0;width: 56px;height: 27px;margin: 0;padding: 0;text-align: center;font-size: 0;font-weight: bold;cursor: pointer;background: url(../images/login-button.png) 0 0 no-repeat;}
#sl_horiz.logout .button {border: 0;width: 56px;height: 27px;position: absolute;right: 8px;top: 22px;text-align: center;font-size: 0;font-weight: bold;cursor: pointer;background: url(../images/logout-button.png) 0 0 no-repeat;}
#sl_horiz .button:hover {color: transparent;}
#sl_horiz #sl_username {float: left;width: 148px;height: 29px;background: url(../images/login-field.png) 0 0 no-repeat;}
#sl_horiz #sl_username input {padding: 5px 5px 5px 8px;width: 130px;height: 18px;font-size: 100%;font-weight: normal;border: 0;color: #333;background: none;margin: 0;}
#sl_horiz #sl_pass {float: left;width: 148px;height: 29px;background: url(../images/login-field.png) 0 0 no-repeat;margin-bottom: 5px;}
#sl_horiz #sl_pass input {padding: 5px 5px 5px 8px;width: 130px;height: 18px;font-size: 100%;font-weight: normal;border: 0;color: #333;background: none;margin: 0;}
#sl_horiz #sl_rememberme {float: left;line-height: 22px;color: #333;margin-top: 0;clear: left;}
#sl_horiz #sl_lostpass, #sl_horiz #sl_lostname, #sl_horiz a {margin-left: 10px;float: left;line-height: 22px;}
#sl_horiz #sl_register {float: left;}
#sl_horiz #sl_posttext {margin-left: 10px;float: left;}
#sl_horiz #sl_submitbutton {margin: 0;padding: 0;height: 27px;width: 56px;position: absolute;right: 5px;top: 8px;}

/* RokContentRotator */

.rotator-module {padding: 0 20px 0 0;margin: 0; position: relative;z-index: 5;}
.rotator-module .module {padding: 0;margin: 0;}
#showcase-main .rok-content-rotator .arrow {height:1px;position:absolute;left:0px;top:10px;width:1px;}
#showcase-main .rok-content-rotator {margin: 0;position: relative;z-index: 5;}
#showcase-main .rok-content-rotator h2 {font-size: 170%;line-height: 50px;text-indent: 0;padding: 10px 0;margin: 0 7px;z-index: 1;outline: none;}
#showcase-main .rok-content-rotator h2 a {display: block;z-index: 3;position: absolute;width: 253px;outline: none;margin: 0;text-indent: 45px;}
#showcase-main .rok-content-rotator h2 a.active {font-weight: normal;font-size: 100%;text-indent: 30px;}
#showcase-main .rok-content-rotator h2 a:hover, #showcase-main .rok-content-rotator h2 a:hover.active {text-decoration: none;}
#showcase-main .rok-content-rotator ul {padding: 10px 0 40px 0;float: right;margin: -12px 0 0 0;width: 327px;text-indent: 0;}
#showcase-main .rok-content-rotator li {list-style: none;padding: 0 0 0 10px;margin-left: 1px;height: 70px;}
#showcase-main .rok-content-rotator .content {position: absolute;left: 0;top: 0;margin-right: 360px;padding: 20px 0 15px 215px;visibility: hidden;color: #fff;font-size: 120%;line-height: 140%;overflow: hidden;width: 373px;}
.rok-content-rotator a.readon {width: 110px;height: 46px;background: url(../images/learn-more.png) 0 0 no-repeat;font-size: 0;text-decoration: none;line-height: 0;cursor:pointer;}
.showcase-bg {width: 330px;height: 200px;position: absolute;z-index: 1;margin-top: -21px;margin-left: 20px;}

/* Tabbed Modules */

#moduleslider-size {overflow: hidden;padding: 0;border: 1px solid #DCDCDC;}
.moduleslider-padding {padding: 0 20px;}
#tabmodules .module h3 {background: none !important;margin: 0;text-align: left;}
#tabmodules {overflow: hidden;}
#tabmodules div {padding: 0;margin: 0;}
#tabmodules li span {line-height: 32px;}
#rokslide-toolbar span {white-space: nowrap;}
#rokslide-toolbar {color: #888;margin: 0;padding: 0;height: 32px;background: url(../images/tabmod.png) 0 0 repeat-x;}
#rokslide-toolbar li {border-left: 1px solid #dcdcdc;height: 31px;font-weight: bold;}
#rokslide-toolbar li.first {border-left: 0;}
#rokslide-toolbar li.last {}
#rokslide-toolbar li.current.last {border-right: 1px solid #dcdcdc;}
#rokslide-toolbar li.current {border-bottom: 1px solid #fff;height: 31px;}
#rokslide-toolbar li.current.first {border-left: 0;border-bottom: 1px solid #fff;height: 31px;}
#rokslide-toolbar li.current span {height: 33px;}
#frame {text-align: left;}
#frame .module, #frame .module-hilite1, #frame .module-hilite2, #frame .module-hilite3 {float: left;padding: 10px;}
#frame .mmpr-1 .module, #frame .mmpr-1 .module-hilite1, #frame .mmpr-1 .module-hilite2, #frame .mmpr-1 .module-hilite3 {width: auto;}
#frame .mmpr-2 .module, #frame .mmpr-2 .module-hilite1, #frame .mmpr-2 .module-hilite2, #frame .mmpr-2 .module-hilite3 {width: 45%;}
#frame .mmpr-3 .module, #frame .mmpr-3 .module-hilite1, #frame .mmpr-3 .module-hilite2, #frame .mmpr-3 .module-hilite3 {width: 30%;}
#frame .mmpr-4 .module, #frame .mmpr-4 .module-hilite1, #frame .mmpr-4 .module-hilite2, #frame .mmpr-4 .module-hilite3 {width: 21%;}
#frame .mmpr-5 .module, #frame .mmpr-5 .module-hilite1, #frame .mmpr-5 .module-hilite2, #frame .mmpr-5 .module-hilite3 {width: 16%;}
#leftcol #frame div div, #rightcol #frame div div, #rightcol2 #frame div div {width: auto;}

/* Demo Content */

.moduletable-online {color: #fff;position: absolute;right: 140px;top: 15px;}
.variation-chooser { text-align: center; margin-top: 10px;}