span.icon-32-translate {
	background: url('../assets/images/icon-32-translate.png') no-repeat left;
}

span.icon-32-c_translate {
	background: url('../assets/images/icon-32-c_translate.png') no-repeat left;
}

div.icon-48-translate {
	background: url('../assets/images/icon-48-translate.png') no-repeat left;
}

div.icon-48-e_translate {
	background: url('../assets/images/icon-48-e_translate.png') no-repeat left;
}

div.icon-48-config {
	background: url('../assets/images/icon-48-config.png') no-repeat left;
}

div.icon-48-info {
	background: url('../assets/images/icon-48-info.png') no-repeat left;
}